html,body {
    background-color: #105908 !important;
    margin:0;
    padding:0;
    color: black;
    vertical-align:middle;
}

.main .form-sec form {
    margin-top:300px;
}
.nav-bar {
	background-color: black;
	height: 100px;
	width: 100%;
	margin: 0;
    padding: 0;
    position: fixed;
    top:0;
}
.nav-title {
    color:white;
    font-size: 14px;
}
.footer-bar footer {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;


}
.main {
    background-color:#105908; 
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    
}
