<!DOCTYPE html>
<html>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    
<body>
<div class="nav-bar">
    <div class="nav-title">
        <h1>Secret title</h1>
    </div>
</div>
<div class="main-body">
    <div class="container">
<!--This is for the body text for the container with attributes of: "title", "body", "created-on" -->
<table>
        <tr>
            <td>Title</td>
        </tr>
        <tr>
            <td>Body</td>
        </tr>
        <tr>
            <td>Created-On</td>
        </tr>       
</table>
    </div>
    
</div>
<!--Footer-->
<div class="footer-bar">
    <footer>
        <a href="/">Logout</a>
    </footer>
</div>
    
    
</body>
</html>